@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:vishal_saxena1@symantec.com?subject=[Jira Dependency Manager Support Request]<Your Email Title>&body=Hi, Please look at my Support Request below">Vishal Saxena</a><br />
</address>
@*<p><a class="btn btn-default" href="http://www.google.com/moderator/#16/e=218a45" target="_blank">Submit a feature Request</a></p>*@