<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="JiraSettings" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- TODO: Replace the ****'s with the correct entries -->
    <add name="JiraIntegrationIdenityConnection" connectionString="Data Source=L-248917-P16;Initial Catalog=JiraIntegration;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="elmah-sqlserver" connectionString="Data Source=L-248917-P16;Initial Catalog=ELMAHStore;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <JiraSettings>
    <add key="JiraURL" value="https://jira.ges.symantec.com" />
    <!--<add key="JQL" value="project in(STARSIX, ORBIT, RINGZERO, SKYNET, CARRERA, TEAMX, SYMULATOR, IOMT) and Type=Defect and status not in (Closed) and affectedVersion='PI 15.1'" />-->
    <add key="JQL" value="project in (SYMULATOR, FORTRESS, STARSIX, TeamX, 'Ring Zero', 'STAR Team Carrera','Unified Security Submission', 'STAR Team Orbit', 'STAR Configuration Management', SKYNET, 'STAR Content - DBCS', 'STAR Content - RBCS')  and Type=Defect and sprint in(24817,24818,24819,24820,24821,24834,24474,24835,24836,24322,24337,24323,24324,24325,24338,24955,24956,24957,24958,24976,24977,24238,24239,24320,24334,24335,24321,24854,24855,24874,24875,24876,24877,25694,25695,25714,25715,25696,25716,19535,24314,24315,24316,24317,24318,25136,25137,25138,25179,25179,25618,25174,25175,25176,25177,25178,25181)" />
    <add key="UserName" value="Star_JiraAPI" />
    <add key="Password" value="Symantec@1234" />
    <add key="JiraFilterId" value="24684" />
    <add key="TotalSprintsInPI" value="6"/>
    <add key="StartDateofPI" value="3/30/2016"/>
  </JiraSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
<!--
Accessing protected data
When accessing data generated from JIRA, you may find that access to some resources requires user authentication (i.e. requires you to login). There are three options for this:
To enable access to data without logging in, your JIRA administrator may specify the 'Browse' permission for Anyone.
You can provide the parameters os_username and os_password in the request URL (e.g. http://jira.atlassian.com/browse/TST-1?os_username=tester&os_password=tstpassword). The problem with this method is that it transmits your username and password across the wire in clear text, which may not be an option for some users.
You can provide the request parameter os_authType=basic (e.g. http://mycompany.com/anypage?os_authType=basic). This will force the server to issue a challenge for user credentials (i.e. a login prompt) via the basic http authentication protocol. If you are running over SSL, you still need to specify the os_authType=basic parameter if you require the user to authenticate.
https://confluence.atlassian.com/jira/receiving-search-results-as-an-rss-feed-185729479.html
-->
    <!--SYMULATOR-->
    <add key="SYMULATOR_16.2.1" value="" />
    <add key="SYMULATOR_16.2.2" value="" />
    <add key="SYMULATOR_16.2.3" value="" />
    <add key="SYMULATOR_16.2.4" value="" />
    <add key="SYMULATOR_16.2.5" value="" />
    <add key="SYMULATOR_16.2.6" value="" />
    <!--FORTRESS-->
    <add key="FORTRESS_16.2.1" value="" />
    <add key="FORTRESS_16.2.2" value="" />
    <add key="FORTRESS_16.2.3" value="" />
    <add key="FORTRESS_16.2.4" value="" />
    <add key="FORTRESS_16.2.5" value="" />
    <add key="FORTRESS_16.2.6" value="" />
    <!--TEAMX done-->
    <add key="TEAMX_16.2.1" value="24817" />
    <add key="TEAMX_16.2.2" value="24818" />
    <add key="TEAMX_16.2.3" value="24819" />
    <add key="TEAMX_16.2.4" value="24820" />
    <add key="TEAMX_16.2.5" value="24821" />
    <add key="TEAMX_16.2.6" value="24834" />
    <!--STARSIX done-->
    <add key="STARSIX_STARSIX_16.2.2" value="24474" />
    <add key="STARSIX_STARSIX_16.2.4" value="24835" />
    <add key="STARSIX_STARSIX_16.2.6" value="24836" />
    <!--CARRERA done-->
    <add key="CARRERA_16.2.1" value="24322" />
    <add key="CARRERA_16.2.2" value="24337" />
    <add key="CARRERA_16.2.3" value="24323" />
    <add key="CARRERA_16.2.4" value="24324" />
    <add key="CARRERA_16.2.5" value="24325" />
    <add key="CARRERA_16.2.6" value="24338" />
    <!--SKYNET done-->
    <add key="SKYNET_16.2.1" value="24955" />
    <add key="SKYNET_16.2.2" value="24956" />
    <add key="SKYNET_16.2.3" value="24957" />
    <add key="SKYNET_16.2.4" value="24958" />
    <add key="SKYNET_16.2.5" value="24976" />
    <add key="SKYNET_16.2.6" value="24977" />
    <!--RINGZERO done-->
    <add key="RINGZERO_16.2.1" value="24238" />
    <add key="RINGZERO_16.2.2" value="24239" />
    <add key="RINGZERO_16.2.3" value="24320" />
    <add key="RINGZERO_16.2.4" value="24334" />
    <add key="RINGZERO_16.2.5" value="24335" />
    <add key="RINGZERO_16.2.6" value="24321" />
    <!--ORBIT done-->
    <add key="ORBIT_16.2.1" value="24854" />
    <add key="ORBIT_16.2.2" value="24855" />
    <add key="ORBIT_16.2.3" value="24874" />
    <add key="ORBIT_16.2.4" value="24875" />
    <add key="ORBIT_16.2.5" value="24876" />
    <add key="ORBIT_16.2.6" value="24877" />
    <!--STARCM done-->
    <add key="STARCM_16.2.1" value="25694" />
    <add key="STARCM_16.2.2" value="25695" />
    <add key="STARCM_16.2.3" value="25714" />
    <add key="STARCM_16.2.4" value="25715" />
    <add key="STARCM_16.2.5" value="25696" />
    <add key="STARCM_16.2.6" value="25716" />
    <!--USSE done-->
    <add key="USS_16.2.1" value="19535" />
    <add key="USS_16.2.2" value="24314" />
    <add key="USS_16.2.3" value="24315" />
    <add key="USS_16.2.4" value="24316" />
    <add key="USS_16.2.5" value="24317" />
    <add key="USS_16.2.6" value="24318" />
    <!--RBCS done-->
    <add key="SCRBCS_SCRBCS_16.2.1" value="25136" />
    <add key="SCRBCS_SCRBCS_16.2.2" value="25137" />
    <add key="SCRBCS_SCRBCS_16.2.3" value="25138" />
    <add key="SCRBCS_SCRBCS_16.2.4" value="25179" />
    <add key="SCRBCS_SCRBCS_16.2.5" value="25179" />
    <add key="SCRBCS_SCRBCS_16.2.6" value="25618" />
    <!--DBCS done-->
    <add key="DBCS_DBCS_16.2.1" value="25174" />
    <add key="DBCS_DBCS_16.2.2" value="25175" />
    <add key="DBCS_DBCS_16.2.3" value="25176" />
    <add key="DBCS_DBCS_16.2.4" value="25177" />
    <add key="DBCS_DBCS_16.2.5" value="25178" />
    <add key="DBCS_DBCS_16.2.6" value="25181" />
 
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <!--<security allowRemoteAccess="1" />-->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver" />
    <security allowRemoteAccess="false" />
  </elmah>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
<location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->  
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location></configuration>